<link rel="stylesheet" href="/css/_footer.css">

<footer id="footer">
    <div class="about-codeial">
        <div >
            <img src="/images/icon.svg" alt="">
            <span>
                <span>Codeial</span>
                <div>Social Network</div>
            </span>
        </div>
        <br>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quisquam aliquam, vitae ad quaer</span>
        <ul class="social-icon text-center">
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-quora"></i>
                    </a>
                </li>
        </ul>

    </div>

    <div class="about-website">
        <ul >
            <li style="font-weight: bold; color: black; font-size: 1rem; list-style: none;">Main Link</li>
            <li style="list-style: none;">Home</li>
            <li style="list-style: none;">About Us</li>
            <li style="list-style: none;">FAQ</li>
            <li style="list-style: none;">Contacts</li>
        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem; list-style: none;">Your Profile</li>
            <li style="list-style: none;">Activity</li>
            <li style="list-style: none;">Profile</li>
            <li style="list-style: none;">Friends</li>
            <li style="list-style: none;">Media</li>
        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem; list-style: none;">Codeial</li>
            <li style="list-style: none;">Members</li>
            <li style="list-style: none;">Groups</li>
            <li style="list-style: none;">Forum</li>
            <li style="list-style: none;">User</li>

        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem; list-style: none;">Blog</li>
            <li style="list-style: none;">Blog Classic</li>
            <li style="list-style: none;">Blog List</li>
            <li style="list-style: none;">Blog Massonry</li>
            <li style="list-style: none;">Blog Grid</li>
        </ul>
    </div>
</footer>