<link rel="stylesheet" href="/css/_footer.css">

<footer id="footer">
    <div class="about-codeial">
        <div >
            <img src="/images/icon.svg" alt="">
            <span>
                <span>Codeial</span>
                <div>Social Network</div>
            </span>
        </div>
        <br>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quisquam aliquam, vitae ad quaer</span>
        <ul class="social-icon text-center">
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-quora"></i>
                    </a>
                </li>
        </ul>

    </div>

    <div class="about-website">
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem;">Main Link</li>
            <li>Home</li>
            <li>About Us</li>
            <li>FAQ</li>
            <li>Contacts</li>
        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem;">Your Profile</li>
            <li>Activity</li>
            <li>Profile</li>
            <li>Friends</li>
            <li>Media</li>
        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem;">Codeial</li>
            <li>Members</li>
            <li>Groups</li>
            <li>Forum</li>
            <li>User</li>

        </ul>
        <ul>
            <li style="font-weight: bold; color: black; font-size: 1rem;">Blog</li>
            <li>Blog Classic</li>
            <li>Blog List</li>
            <li>Blog Massonry</li>
            <li>Blog Grid</li>
        </ul>
    </div>
</footer>