#footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: inset 1px 4px 7px 2px grey;
    padding-top: 2rem;
    width: 100vw;
    height: auto;
    padding-bottom: 4rem;
}
.about-codeial{
    width: 25%;
    margin-left: 10%;
    div{
        img{
            width: 3rem;
            display: inline-block;
            margin-right: 10px;
        }
        span{
            display: inline-block;
            span{
                font-size: 1.2rem;
                font-weight: 600;
                color: black;
            }
            div{
                font-size: 0.8rem;
                color: grey;
            }
        }
    }
    span{
        font-size: 0.8rem;
        color: grey;
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        li{
            display: inline-block;
            padding-right: 12px;
            a i{
                color: grey;
                font-size: 1rem;
            }
        }
    }
}


.about-website{
    margin-right: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: grey;
        li{
            margin-bottom: 1rem;
        }
        li:hover{
            color: orangered;
        }
    }
}
